name: Deploy to AwardSpace

on:
  push:
    branches:
      - main

jobs:
  ftp-deploy:
    name: FTP Deploy
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Upload to AwardSpace via FTP
      uses: SamKirkland/FTP-Deploy-Action@4.3.3
      with:
        server: ${{ secrets.FTP_HOST }}    
        username: ${{ secrets.FTP_USERNAME }}  
        password: ${{ secrets.FTP_PASSWORD }}  
        port: ${{ secrets.FTP_PORT }}          
        local-dir: "./"                        
        server-dir: "/public_html/"          
        exclude: |
          **/.git*
          **/.github/*
          **/README.md
